body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*тут еще надо крепко подумать, т.к. конопок-нессылок у меня нет*/

.button {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fb565a;
    border-radius: 2px;
    border: none;
    display: inline-block;
    padding: 10px 40px;
}

.site-navigation,
.user-navigation,
.slider-list,
.services-list,
.info-info-services-list,
.partners-list {
    list-style: none;
}


/* хедер */

.main-header {
    background-color: #eeeeee;
}

.main-navigation {
    display: flex;
    padding-top: 49px;
    justify-content: space-between;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.main-header-logo {
    width: 160px;
    height: 65px;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}

.site-navigation,
.user-navigation {
    margin: 0;
    padding: 0;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
}

.user-navigation {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
}

.site-navigation li {
    margin-left: 24px;
    margin-right: 24px;
    padding: 26px 0;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:not([href]) {
    color: #a6a6a6;
}

.site-navigation-current {
    position: relative;
}

.site-navigation-current::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 21px;
    left: 0;
    background-color: #fb565a;
}

.user-navigation .cart {
    display: block;
    padding: 26px 0;
    color: #000000;
    padding-left: 80px;
    position: relative;
}

.user-navigation .cart::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url(../img/icon-cart.svg);
    top: 33px;
    left: 40px;
    opacity: 0.3;
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus,
.user-navigation a[href]:hover,
.user-navigation a[href]:focus {
    color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
    color: #000000;
    opacity: 0.3;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}


/* стилизация слайдера */

.slider {
    position: relative;
    background-color: #eeeeee;
    margin-bottom: 80px;
}

.slider-list {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

.slider-item {
    display: none;
}

.slider-item:nth-child(1) {
    display: block;
}

.slider-item b {
    display: block;
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 27px;
}

.slider-item p {
    color: #283136;
    margin: 0;
    margin-bottom: 39px;
    margin-right: 180px;
}

.slider-item a {
    padding: 10px 55px;
}

.slider-item-content a:hover {
    background-color: #e74246;
}

.slider-item-content a:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.slider-item-content {
    width: 560px;
    margin-bottom: 80px;
    padding-top: 60px;
}

.toggles {
    position: absolute;
    bottom: 94px;
    right: 50%;
    margin-right: -45px;
}

.toggles-item {
    padding: 0;
    margin: 0;
    margin-right: 14px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    cursor: pointer;
}

.toggles-item:last-child {
    margin-right: 0;
}

.toggles-item-active {
    box-shadow: inset 0 0 0 2px #c1c1c1;
}

.slider-item:nth-child(1)::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 31px;
    background-image: url(../img/img-slider-1.png);
    width: 698px;
    height: 413px;
}

.slider-item:nth-child(2)::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../img/img-slider-2.png);
    width: 663px;
    height: 430px;
}

.slider-item:nth-child(3)::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../img/img-slider-3.png);
    width: 759px;
    height: 411px;
}


/* стилизация раздела услуг */

.services {
    margin-bottom: 40px;
    border-bottom: 2px solid #eeeeee;
}

.services-list {
    width: 1100px;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-list h3 {
    padding: 0;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

.services-item {
    width: 300px;
}

.services-item b {
    padding: 0;
    margin: 0;
}

.services-item p {
    padding: 0;
    margin: 0;
    margin-right: 40px;
    margin-bottom: 32px;
    color: #283136;
}

.services-item:nth-child(1) a {
    background-color: #fb565a;
}

.services-item:nth-child(1) a:hover {
    background-color: #e74246;
}

.services-item:nth-child(1) a:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.services-item:nth-child(2) a {
    background-color: #00ca74;
}

.services-item:nth-child(2) a:hover {
    background-color: #00bc6c;
}

.services-item:nth-child(2) a:active {
    background-color: #00aa62;
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.services-item:nth-child(3) a {
    background-color: #efc84a;
}

.services-item:nth-child(3) a:hover {
    background-color: #eab534;
}

.services-item:nth-child(3) a:active {
    background-color: #e5a722;
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.services-item::before {
    content: "";
    display: block;
    width: 300px;
    height: 146px;
}

.services-item:nth-child(1)::before {
    background-image: url(../img/img-services-1.png);
}

.services-item:nth-child(2)::before {
    background-image: url(../img/img-services-2.png);
}

.services-item:nth-child(3)::before {
    background-image: url(../img/img-services-3.png);
}


/* о нас и таблица преимуществ */

.index-columns {
    display: flex;
    border-bottom: 2px solid #eeeeee;
    justify-content: space-between;
}

.info {
    width: 660px;
}

.info b {
    display: block;
    margin-top: 35px;
    margin-bottom: 34px;
    font-size: 45px;
    line-height: 45px;
}

.info p {
    margin: 0;
    padding: 0;
    margin-bottom: 38px;
    color: #283136;
}

.info-services {
    margin-bottom: 73px;
}

.info-services p {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 23px;
}

.info-services-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.info-services-item {
    position: relative;
    margin-bottom: 24px;
    padding-left: 36px;
    color: #283136;
}

.info-services-item::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 25px;
    top: 50%;
    left: 0;
    background-color: #fb565a;
}


/* таблица преимуществ */

.features {
    width: 360px;
    margin-left: auto;
}

.features::before {
    content: "";
    display: block;
    width: 360px;
    height: 208px;
    background-image: url(../img/logo-mein-nerds.png);
}

.features-table {
    border-collapse: collapse;
    margin-top: 35px;
}

.features-table-headline {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 32px;
    text-align: left;
    padding-left: 16px;
}

.features-table-data {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    text-align: left;
    padding: 0;
}

.features-table-percent {
    font-size: 27px;
    vertical-align: super;
}

.features-table-header {
    line-height: 18px;
    text-align: left;
    font-weight: normal;
    padding: 0;
    padding-top: 20px;
    padding-right: 26px;
    width: 100%;
}


/* партнеры */

.partners {
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 80px;
}

.partners-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin-top: 46px;
    margin-bottom: 44px;
}

.partners-item {
    position: relative;
}

.partners-item:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
    top: 50%;
    right: -21px;
    transform: translateY(-50%);
}

.partners-item a {
    display: flex;
    width: 260px;
    justify-content: center;
    opacity: 0.2;
}

.partners-item a:hover {
    opacity: 1;
}

.partners-item a:active {
    opacity: 0.1;
}


/* подвал: карта + контакты*/

.contacts {
    min-width: 1440px;
    margin-bottom: 70px;
    height: 416px;
}

.contacts-wrapper {
    position: relative;
    width: 1440px;
    margin: 0 auto;
}

.contacts-content {
    box-sizing: border-box;
    position: absolute;
    top: 54px;
    left: 140px;
    width: 320px;
    background-color: #ffffff;
    padding-left: 50px;
    padding-right: 51px;
    padding-top: 49px;
    padding-bottom: 47px;
}

.contacts-content b {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 23px;
}

.contacts-content p {
    line-height: 18px;
    margin: 0;
    margin-bottom: 18px;
}

.contacts-content a {
    display: block;
    padding: 10px 44px;
    margin-top: 37px;
}

.contacts-content a:hover {
    background-color: #e74246;
}

.contacts-content a:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}


/* подвал*/

.footer {
    box-sizing: border-box;
    display: flex;
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.footer-social {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 260px;
    padding: 0;
    margin: 0;
    margin-right: 140px;
}

.social-button {
    display: block;
    width: 78px;
    height: 78px;
    margin-bottom: 12px;
    border-radius: 50%;
    background-color: #e1e1e1;
}

.social-button:hover {
    background-color: #e74246;
}

.social-button:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1)
}

.social-button--vk {
    background-image: url(../img/icon-vk.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social-button--fb {
    background-image: url(../img/icon-fb.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social-button--insta {
    background-image: url(../img/icon-insta.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.footer-wrapper {
    padding-top: 5px;
}

.footer-wrapper b {
    font-size: 36px;
    line-height: 36px;
}

.footer-wrapper p {
    margin: 0;
    margin-top: 9px;
    line-height: 22px;
}


/* модалка */

.modal-feedback {
    display: none;
    position: fixed;
    bottom: 193px;
    left: 50%;
    margin-left: -480px;
    box-sizing: border-box;
    width: 960px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 68px;
    padding-bottom: 85px;
    background-color: #ffffff;
    box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.75);
}

.modal-feedback h2 {
    font-size: 45px;
    line-height: 45px;
    margin: 0;
    margin-bottom: 39px;
}

.modal-feedback label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.feedback-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feedback-item {
    width: 360px;
    margin: 0;
    margin-bottom: 31px;
}

.feedback-item-textarea {
    width: 100%;
    margin: 0;
    margin-bottom: 37px;
}

.feedback-form input,
.feedback-form textarea {
    box-sizing: border-box;
    width: 100%;
    font: inherit;
    color: #444444;
    opacity: 0.5;
    line-height: 18px;
    border: 2px solid #d7dcde;
    border-radius: 2px;
    padding: 14px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
    border-color: #b4b9bb;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
    opacity: 1;
    border-color: #000000;
}

.feedback-form input:invalid {
    opacity: 1;
    color: #e74246;
    border-color: #e74246;
}

.feedback-form textarea:invalid {
    opacity: 1;
    color: #e74246;
    border-color: #e74246;
}

.feedback-form-button {
    width: 260px;
}

.feedback-form-button:hover {
    background-color: #e74246;
}

.feedback-form-button:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.modal-close {
    width: 21px;
    height: 21px;
    font-size: 0;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 78px;
    right: 90px;
    background-color: #ffffff;
    opacity: 0.3;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
}

.modal-close::after,
.modal-close::before {
    content: "";
    position: absolute;
    top: 9px;
    left: -3px;
    width: 27px;
    height: 4px;
    background-color: #e74246;
}

.modal-close::after {
    transform: rotate(45deg);
}

.modal-close::before {
    transform: rotate(-45deg);
}


/* страница каталога */


/* футер */

.page-title {
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 61px;
    padding-bottom: 108px;
}

.catalog-wrapper {
    display: flex;
    justify-content: space-between;
}

.catalog {
    width: 760px;
}

.catalog-filters {
    width: 260px;
}

.catalog-filters fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.catalog-filters legend {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.catalog-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.catalog-item {
    width: 360px;
}